@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light;
    background-color: #f8fafc;
    color: #0f172a;
}

.dark {
    color-scheme: dark;
    background-color: #0f172a;
    color: #f8fafc;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
